{% set enableSidebar = true %}
{% set layoutTitle = 'Add new'|trans({}, 'Admin.Actions') %}

{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      {% include '@Modules/marmicocresellers/views/Prestashop/Admin/Reseller/blocks/form.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/marmicocresellers/views/public/reseller.bundle.js') }}"></script>
{% endblock %}
