{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Modules.Marmicook.Resellers" %}
{% block content %}

	{% block translations_kpis_row %}
		<div class="row">
			<div class="col-md-12">
			<div class="card">
				<div class="row">
				{{ render(controller('PrestaShopBundle:Admin\\Common:renderKpiRow', { 'kpiRow': resellerKpiRow })) }}
				</div>
			</div>
			</div>
		</div>
	{% endblock %}
	
	<div class="row">
		<div class="col">
			{% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': resellersGrid} %}
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('../modules/marmicocresellers/views/public/reseller.bundle.js') }}"></script>
	<script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
