{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{{ form_start(resellerForm) }}
<div class="card">
  <h3 class="card-header">
    <i class="material-icons">store</i>
    {{ 'New reseller'|trans({}, 'Admin.Catalog.Feature') }}
  </h3>
  <div class="card-block row">
    <div class="card-text">
      {{ form_errors(resellerForm) }}

      {% set invalidCatalogNameHint %}
        {{ 'Invalid characters:'|trans({}, 'Admin.Notifications.Info') ~ ' <>;=#{}' }}
      {% endset %}

      {{ ps.form_group_row(resellerForm.name, {}, {
        'label': 'Name'|trans({}, 'Admin.Global'),
        'help': invalidCatalogNameHint
      }) }}

      {% set invalidGenericNameHint %}
        {{ 'Invalid characters:'|trans({}, 'Admin.Notifications.Info') ~ ' <>={}' }}
      {% endset %}

      {% set logoHint %}
        {{ 'Upload a brand logo from your computer.'|trans({}, 'Admin.Catalog.Help') }}
      {% endset %}

      {{ ps.form_group_row(resellerForm.logo, {}, {
        'label': 'Logo'|trans({}, 'Admin.Global'),
        'help': logoHint
      }) }}

      {% if logoImage is defined and logoImage is not null %}
        <div class="form-group row">
          <label for="" class="form-control-label"></label>
          <div class="col-sm">
            {% include '@Modules/marmicoc/views/Prestashop/Admin/Reseller/Blocks/logo_image.html.twig' %}
          </div>
        </div>
      {% endif %}

      {{ ps.form_group_row(resellerForm.active, {}, {
        'label': 'Enabled'|trans({}, 'Admin.Global')
      }) }}

      {% if resellerForm.shop_association is defined %}
        {{ ps.form_group_row(resellerForm.shop_association, {}, {
          'label': 'Shop association'|trans({}, 'Admin.Global')
        }) }}
      {% endif %}

      {% block reseller_form_rest %}
        {{ form_rest(resellerForm) }}
      {% endblock %}
    </div>
  </div>
  <div class="card-footer">
    <a href="{{ path('admin_marmicoc_resellers_index') }}" class="btn btn-outline-secondary">
      {{ 'Cancel'|trans({}, 'Admin.Actions') }}
    </a>
    <button class="btn btn-primary float-right">
      {{ 'Save'|trans({}, 'Admin.Actions') }}
    </button>
  </div>
</div>
{{ form_end(resellerForm) }}
